*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:#000;}

body{font-family:'arial';
    font-size:17px;
    line-height: 20px;
    color:#000;}


.header{background:#e1f3e3;
        width:100%;
        height:90px;
        position:relative;}



/*헤더메뉴 드롭다운 s*/

.nav{padding-left:200px;}


.nav>li{margin:0 auto;
        float:left;
        position:relative;}

.nav>li>a{display:block; 
        padding:35px 35px;
        text-align: center;}



.sub{width:100%;
    display:none;
    position:absolute;
    top:90px; left:0px;
    z-index:2;}

.sub li a{display:block;
            background-color:#2b5f49;
            color:#fff;
            text-align:center;
            /*border-bottom: 1px solid rgb(255, 255, 255);
            border-top: 1px solid rgba(175, 175, 175, 0.5);*/
            padding:10px;}

.nav li:hover .sub{display:block;}

.sub li a:hover{background-color:#e1f3e3;
                color:#2b5f49;} */

/*헤더메뉴 드롭다운 f*/


.topheader{position:relative;}

.logo{/*margin:0 auto;*/
    position:absolute;
    top:10px; left:50%;
    margin-left:-33.5px;}

.link{float:right;
    padding-right:200px;}
.link li{float:left;
        padding:35px 20px;}
    
/*헤더 끝*/


.mainbanner{width:100%;
    height:477px;
    background:url(../images/mainbanner.jpg) no-repeat center top;}

.mainbanner a{display:block;
        width:100%;}



.community{width:100%;
            height:1700px;
            display:block;
           margin:0 auto;
            position:relative;
            text-align:center;}


.p0{position:absolute;
    top:125px; left:42%;
    font-family:'나눔바른고딕';}

.p1{position:absolute;
    top:180px; left:42%;
    font-family:'나눔바른고딕';}

.p2{position:absolute;
    top:235px; left:42%;
    font-family:'나눔바른고딕';}

.p3{position:absolute;
    top:285px; left:42%;
    font-family:'나눔바른고딕';}


.p4{position:absolute;
    top:575px; left:42%;
    font-family:'나눔바른고딕';}

.p5{position:absolute;
    top:630px; left:42%;
    font-family:'나눔바른고딕';}

.p6{position:absolute;
    top:685px; left:42%;
    font-family:'나눔바른고딕';}

.p7{position:absolute;
    top:735px; left:42%;
    font-family:'나눔바른고딕';}
    



.line1{position:absolute;
    top:0; right:20%;
        margin:100px 0;}

.line2{position:absolute;
    top:450px; right:20%;
    margin:100px 0;}

/*.reviewbox1{position:absolute;
    top:850px; right:40%;
    margin:100px 0;}

.reviewbox2{position:absolute;
    top:850px; right:20%;
    margin:100px 0;}*/

.reviewimg{position:absolute;
    top:850px; right:20%;
    margin:100px 0;}




.nimg{position:absolute;
    top:100px; left:20%;}

.qimg{position:absolute;
    top:550px; left:20%;}

.rimg{position:absolute;
    top:950px; left:20%;}



.cbox{position:absolute;
    top:1550px; left:50%;
    margin-left:-352.5px;
    margin-bottom:300px;}





.footer ul{float: left;
        padding:0 30px;
        font-size:13px;}


.footer{margin-top:150px;
        padding-left:35%;
        height:220px;
        background-color:#e1f3e3;
        padding-top:50px;}

.footer2{font-size:13px;
        text-align:center;
        padding-right:630px;}


